@{
    ViewBag.Title = "Enable Google Authenticator";
}

<h2>Enable Google Authenticator</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Scan this QR Code with Google Authenticator</label>
        <div class="col-md-10">
            <img src="@ViewBag.QrCodeImage" height="200" width="200" alt="QR Code" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Or enter this secret key manually:</label>
        <div class="col-md-10">
            <input type="text" value="@ViewBag.SecretKey" class="form-control" readonly />
        </div>
    </div>

    <!-- Redirect form to VerifyGoogleAuthenticator -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @using (Html.BeginForm("VerifyGoogleAuthenticator", "User", FormMethod.Get))
            {
                <input type="submit" value="Continue to Verify" class="btn btn-primary" />
            }
        </div>
    </div>
</div>
